// Variables for decoration
$brand-primary: #75bfca
$brand-info: #a6daef
$brand-success: #bfe2ca
$brand-warning: #f0e0a2
$brand-alert: #f4858e

// Components for decoration
// Backgrounds
.bg-dark
  background-color: $dark
  border-color: darken($dark, 10%)

.bg-gray
  background-color: $gray
  border-color: darken($gray, 10%)

.bg-light
  background-color: $light
  border-color: darken($light, 10%)

.bg-primary
  background-color: $brand-primary
  border-color: darken($brand-primary, 10%)

.bg-info
  background-color: $brand-info
  border-color: darken($brand-info, 10%)

.bg-success
  background-color: $brand-success
  border-color: darken($brand-success, 10%)

.bg-warning
  background-color: $brand-warning
  border-color: darken($brand-warning, 10%)

.bg-alert
  background-color: $brand-alert
  border-color: darken($brand-alert, 10%)

// Foregrounds
.fg-dark
  color: $dark

.fg-gray
  color: $gray

.fg-light
  color: $light

.fg-primary
  color: $brand-primary

.fg-info
  color: $brand-info

.fg-success
  color: $brand-success

.fg-warning
  color: $brand-warning

.fg-alert
  color: $brand-alert

// Elements
hr
  color: $gray

// Media Query Break Points
// Large Phones
@media only screen and (min-width: $sm)
// Tablets
@media only screen and (min-width: $md)
// Notebooks and Desktops
@media only screen and (min-width: $lg)
