// Variables for link


// Components for link
a
  color: inherit
  text-decoration-style: dotted

  &:hover,
  &:focus
    color: $gray

// Media Query Break Points
// Large Phones
@media only screen and (min-width: $sm)
// Tablets
@media only screen and (min-width: $md)
// Notebooks and Desktops
@media only screen and (min-width: $lg)
