// Variables for <module>

// Components for <module>
.page-heading,
.article-heading,
.section-heading
  display: block

.page-heading
  font-size: 3rem

.article-heading
  border-bottom-style: solid
  border-bottom-width: $b-width

.section-heading
  border-bottom-style: dashed
  border-bottom-width: $b-width

.text-center
  text-align: center

.text-right
  text-align: right

.text-left
  text-align: left

.text-box
  border-radius: $b-radius
  border-style: solid
  border-width: $b-width
  margin-bottom: .5rem
  margin-top: .5rem
  padding-bottom: .5rem
  padding-left: .5rem
  padding-right: .5rem
  padding-top: .5rem

// Media Query Break Points
// Large Phones
@media only screen and (min-width: $sm)
// Tablets
@media only screen and (min-width: $md)
// Notebooks and Desktops
@media only screen and (min-width: $lg)
